# Dependencias
node_modules/
__pycache__/
*.pyc

# Entorno y Secretos
.env
.env.local
.env.*.local

# Binarios pesados de Windows (No necesarios en la nube)
ffmpeg.exe
ffprobe.exe
*.mp3
temp_audio/
dist/

# Firebase
.firebase/
.firebaserc

# Otros
.DS_Store
.vscode/
.idea/
